footer {
    width: 100%;
    max-height: 80px;
    margin-top: 5px;
    padding: 10px;
    left: 0;
    bottom: 0;
    background-color: var(--blueLight);
    color: var(--white);
    text-align: center;
}

.copyright {
    text-align: center;
    margin: 0 auto;
}
