footer {
    display: flex;
    width: 100%;
    max-height: 80px;
    bottom: 0;
    margin-top: 5px;
    padding: 10px;
    background-color: var(--blueLight);
    color: var(--white);
    justify-content: center;
    align-items: center;
}

.copyright {
    text-align: center;
    margin: 0 auto;
}
