* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --primary: #17a2b8;
  --black: #000000;
  --blackLighter: #9E9E9E;
  --grayLight: #F5F5F5;
  --grayMedium: #e5e5e5;
  --white: #FFFFFF;
  --blueLight: #5cb9dc;
  --green: #00C86F;
}

body {
  margin: 0;
  padding: 0;
  outline: 0;
  overflow: auto;
  background: var(--white);
}

#root {
  height: 100vh;
}

a {
  color: inherit;
}

.react-bootstrap-table-pagination-list > ul {
  float: right;
}

.react-bootstrap-table {
  overflow-x: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}